{% extends 'base.html' %}

{% block content %}
	<script>
		document.addEventListener('DOMContentLoaded', e => {
			document.forms.add.addEventListener('change', e => {
				if (e.target.name == 'status') {
					let status = e.target.form.status.value == "paid" ? false : true;
					console.log(status);
					e.target.form.paymentdatefield.disabled = status.valueOf();
				}
			});
		});
	</script>
	<h3>{% block title %} Add Payments {% endblock %}</h3>
	<p>Instruction text</p>
	<form name="add" action="http://127.0.0.1:5000/payments" method="POST">
		<label>Company Name</label>
		<input type="text" name="company" placeholder="Company" required>
		<label>Amount</label>
		<input type="number" name= "amount" placeholder="Amount" required>
		<label for="status">Payment Status</label>
		<select id="status" name="status">
			<option value="unpaid">Unpaid</option>
			<option value="paid">Paid</option>
		</select>
		<fieldset name="paymentdatefield" disabled>
			<label>Payment Date</label>
			<input type="date" name="payment_date" placeholder="Payment Date" required>
		</fieldset>
		<label for="duedate">Due Date</label>
		<select id="duedate" name="due_date" required>
			{% for date in ['01/15/2024', '04/15/2024'] %}
				<option value="{{date}}">{{date}}</option>
			{% endfor%}
		</select>
		<button type="submit">Add</button>
		<button type="reset">Clear All</button>
	</form>
{% endblock %}