{% extends 'base.html' %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script>
		document.addEventListener('DOMContentLoaded', e => {
			document.forms.add.addEventListener('change', e => {
				if (e.target.name == 'status') {
					let status = e.target.form.status.value == "paid" ? false : true;
					console.log(status);
					e.target.form.paymentdatefield.disabled = status.valueOf();
				}
			});
		});

function getUpcomingDueDates() {
    var today = new Date();
    var year = today.getFullYear();
    var dates = [
        new Date(year, 0, 15),  // January 15
        new Date(year, 3, 15),  // April 15
        new Date(year, 5, 15),  // June 15
        new Date(year, 8, 15)   // September 15
    ];
    var upcomingDates = dates.map(date => {
        if (date <= today) {
            date.setFullYear(date.getFullYear() + 1);
        }
        return date;
    });
    var sortedDates = upcomingDates.sort((a, b) => a - b);
    return upcomingDates.map(date => date.toISOString().split('T')[0]);
}

	$(document).ready(function() {
		let dates = getUpcomingDueDates();
        $("#duedate1").val(dates[0]);
        $("#duedate1").text(dates[0].substring(5,7).concat("/", dates[0].substring(8,10), "/", dates[0].substring(0,4)));
        $("#duedate2").val(dates[1]);
        $("#duedate2").text(dates[1].substring(5,7).concat("/", dates[1].substring(8,10), "/", dates[1].substring(0,4)));
        $("#duedate3").val(dates[2]);
        $("#duedate3").text(dates[2].substring(5,7).concat("/", dates[2].substring(8,10), "/", dates[2].substring(0,4)));
        $("#duedate4").val(dates[3]);
        $("#duedate4").text(dates[3].substring(5,7).concat("/", dates[3].substring(8,10), "/", dates[3].substring(0,4)));
    });

	</script>
	<h3>{% block title %} Add Payments {% endblock %}</h3>
	<p>Instruction text</p>
	<form name="add" action="http://127.0.0.1:5000/payments" method="POST">
		<label>Company Name</label>
		<input type="text" name="company" placeholder="Company" required>
		<label>Amount</label>
		<input type="number" name= "amount" placeholder="Amount" required>
		<label for="status">Payment Status</label>
		<select id="status" name="status">
			<option value="unpaid">Unpaid</option>
			<option value="paid">Paid</option>
		</select>
		<fieldset name="paymentdatefield" disabled>
			<label>Payment Date</label>
			<input type="date" name="payment_date" placeholder="Payment Date" required>
		</fieldset>
		<label for="duedate">Due Date</label>
		<select id="duedate" name="due_date" required>
			<option id="duedate1" value="">Jan 15</option>
			<option id="duedate2" value="">Apr 15</option>
			<option id="duedate3" value="">Jun 15</option>
			<option id="duedate4" value="">Sep 15</option>
		</select>
		<button type="submit">Add</button>
		<button type="reset">Clear All</button>
	</form>
{% endblock %}