{% extends 'base.html' %}

{% block content %}
<script>
    $( document ).ready(function() {
        updateFilterTable();

        let dates = getUpcomingDueDates();
        $("#duedate1").val(dates[0]);
        $("#duedate1").text(dates[0].substring(5,7).concat("/", dates[0].substring(8,10), "/", dates[0].substring(0,4)));
        $("#duedate2").val(dates[1]);
        $("#duedate2").text(dates[1].substring(5,7).concat("/", dates[1].substring(8,10), "/", dates[1].substring(0,4)));
        $("#duedate3").val(dates[2]);
        $("#duedate3").text(dates[2].substring(5,7).concat("/", dates[2].substring(8,10), "/", dates[2].substring(0,4)));
        $("#duedate4").val(dates[3]);
        $("#duedate4").text(dates[3].substring(5,7).concat("/", dates[3].substring(8,10), "/", dates[3].substring(0,4)));

        let dates2 = getExistingDueDates();
        dates2.forEach((date) => {
            var newOption = document.createElement("option");
            newOption.innerHTML = date;
            newOption.value = date;
            document.getElementById("duedatefilter").appendChild(newOption)

        });

    });

    $(document).on("click", ".editButton", function () {
         var paymentId = $(this).data('paymentid');
         $(".modal-body #updatePaymentidInput").val(paymentId);

         var companyName = $(this).data('company');
         $(".modal-body #editCompanyInput").val(companyName);

         var amount = $(this).data('amount');
         $(".modal-body #editAmountInput").val(amount);

         var paymentDate = $(this).data('paymentdate');
         $(".modal-body #editPaymentdateInput").val(paymentDate);

         var status = $(this).data('status');
         $(".modal-body #editStatusInput").val(status);

         var dueDate = $(this).data('duedate');
         $("#editModal .modal-body #editDuedateInput").val(dueDate);

         if (status == 'paid'){
             $('#paymentDateCalendar').prop('disabled', false);
             $('#editPaymentdateInput').val(convertDate(paymentDate));
         }
         else if (status == 'unpaid'){
             $('#paymentDateCalendar').prop('disabled', true);
         }
         r = convertDate(dueDate)
        console.log(r)
         $('#editDuedateInput').val(r)
    });

    $(document).on("click", ".deleteButton", function () {
         var paymentID = $(this).data('paymentid');
         $("#deleteModal .modal-footer #deletePaymentidInput").val(paymentID);
    });

    document.addEventListener('DOMContentLoaded', e => {
        document.forms.edit.addEventListener('change', e => {
            if (e.target.name == 'status') {
                let status = e.target.form.status.value == "paid" ? false : true;
                e.target.form.paymentdatefield.disabled = status.valueOf();
            }
        });
    });

    function updateFilterTable() {
        var dueDate = $("#duedatefilter").val();
        var amountSum = 0;
        if(dueDate != null) {
        $("#FilterTable tbody tr").each(function(){
            $(this).show();
            if($(this).children(".DuedateCell").text() != dueDate) {
                $(this).hide();
            } else {
                amountSum += Number($(this).children(".AmountCell").text());
            }
        });
        }

        var taxRate = $("#taxratefilter").val();

        var taxDue = amountSum * (Number(taxRate) / 100);

        $("#TotalAmount").text("$" + amountSum);
        $("#TaxRate").text(taxRate + "%");
        $("#TaxDue").text("$" + taxDue.toFixed(2));
    }

    function getUpcomingDueDates() {
        var today = new Date();
        var year = today.getFullYear();
        var dates = [
            new Date(year, 0, 15),  // January 15
            new Date(year, 3, 15),  // April 15
            new Date(year, 5, 15),  // June 15
            new Date(year, 8, 15)   // September 15
        ];
        var upcomingDates = dates.map(date => {
            if (date <= today) {
                date.setFullYear(date.getFullYear() + 1);
            }
            return date;
        });
        var sortedDates = upcomingDates.sort((a, b) => a - b);
        return upcomingDates.map(date => date.toISOString().split('T')[0]);
    }

    function onlyUnique(value, index, array) {
      return array.indexOf(value) === index;
    }

    function getExistingDueDates() {
        var dates = [];
        $(".duedate").each(function(){
            dates.push($(this).text());
        });
        var uniqueDates = dates.filter(onlyUnique);
        return uniqueDates;
    }

    function convertDate(inputFormat) {
        var dateParts = inputFormat.split('/');
        return dateParts[2] + '-' + dateParts[0] + '-' + dateParts[1];
    }

</script>
<h3>{% block title %} All Payments {% endblock %}</h3>
<p>Explanation text</p>
<div class="scrollbox">
    <table>
        <thead>
        <th>Company</th>
        <th>Amount</th>
        <th>Payment Date</th>
        <th>Status</th>
        <th>Due Date</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for data in payments %}
        <tr>
        <td>{{data.company}}</td>
        <td>{{data.amount}}</td>
        <td>{{data.payment_date}}</td>
        <td>{{data.status}}</td>
        <td class="duedate">{{data.due_date}}</td>
        <td>
            <button type="button" class="editButton btn btn-info btn-sm" data-toggle="modal" data-target="#editModal"
                    data-backdrop="static" data-paymentid="{{data.id}}" data-company="{{data.company}}" data-amount="{{data.amount}}"
                    data-paymentdate="{{data.payment_date}}" data-status="{{data.status}}"
                    data-duedate="{{data.due_date}}">Edit
            </button>
            <button type="button" class="deleteButton btn btn-info btn-sm" data-toggle="modal"
                    data-target="#deleteModal" data-backdrop="static" data-paymentid="{{data.id}}">Delete
            </button>
        </td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
</div>
<br>
<h3>Payment Summary</h3>
<p>Please select a due date from the drop-down and enter the tax rate to calculate the taxes owed.</p>
<form id="filter" name="filter">
    <label for="duedatefilter">Due Date</label>
    <select id="duedatefilter" name="duedatefilter" onchange="updateFilterTable()">
        <option value="" disabled selected>Select due date</option>
    </select>
    <label>Tax rate</label>
    <input id="taxratefilter" type="number" name="taxratefilter" value="0" min="0" max="100" onchange="updateFilterTable()">
</form>
<table id="FilterTable">
    <thead>
    <th>Company</th>
    <th>Amount</th>
    <th>Payment Date</th>
    <th>Status</th>
    <th>Due Date</th>
    </thead>
    <tbody>
        {% for data in payments %}
        <tr id="PaymentID{{data.id}}">
            <td class="CompanyCell">{{data.company}}</td>
            <td class="AmountCell">{{data.amount}}</td>
            <td class="PaymentdateCell">{{data.payment_date}}</td>
            <td class="StatusCell">{{data.status}}</td>
            <td class="DuedateCell">{{data.due_date}}</td>
        </tr>
        {% endfor%}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Total Amount</td>
            <td id="TotalAmount">$100</td>
        </tr>
        <tr>
            <td colspan="4">Tax Rate</td>
            <td id="TaxRate">6%</td>
        </tr>
        <tr>
            <td colspan="4">Tax Due</td>
            <td id="TaxDue">$6</td>
        </tr>
    </tfoot>
</table>
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Payment</h4>
            </div>
            <div class="modal-body">
                <form name="edit" action="{{ PAYMENT_RECORD_EXTERNAL_URL }}/payments/update" method="POST">
                    <label>Company Name</label>
                    <input type="hidden" id="updatePaymentidInput" name="paymentId" value="0">
                    <input id="editCompanyInput" type="text" name="company" value="Apple" required>
                    <label>Amount</label>
                    <input id="editAmountInput" type="number" name="amount" value="1000" required>
                    <label for="editStatusInput">Payment Status</label>
                    <select id="editStatusInput" name="status" required>
                        <option value="unpaid">Unpaid</option>
                        <option value="paid" selected>Paid</option>
                    </select>
                    <fieldset id="paymentDateCalendar" name="paymentdatefield" disabled>
                        <label>Payment Date</label>
                        <input id="editPaymentdateInput" type="date" name="paymentdate" placeholder="Payment Date"
                               required>
                    </fieldset>
                    <label for="editDuedateInput">Due Date</label>
                    <select id="editDuedateInput" name="duedate" required>
                        <option id="duedate1" value="">Jan 15</option>
                        <option id="duedate2" value="">Apr 15</option>
                        <option id="duedate3" value="">Jun 15</option>
                        <option id="duedate4" value="">Sep 15</option>
                    </select>
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this payment?</p>
            </div>
            <div class="modal-footer">
                <form name="delete" action="{{ PAYMENT_RECORD_EXTERNAL_URL }}/payments/delete" method="POST">
                    <input type="hidden" id="deletePaymentidInput" name="paymentId" value="0">
                    <button type="submit" class="btn btn-default">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}